<div class="bg-white  rounded-xl shadow-lg p-6">
  <div class="flex justify-between items-center mb-4">
    <h3 class="text-xl font-bold">{{course().name | titlecase}}</h3>
    <span class="bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded">
      Grado y grupo: {{`${course().grade}-${course().group | uppercase }`}}
    </span>
  </div>
  <p class="text-gray-600 dark:text-gray-400 mb-4">Prof. {{course().creator?.name | titlecase}}</p>
  <div class="flex justify-between items-center">
    <a
      [routerLink]="['/courses/course/', course().id]"
      class="text-gray-600 hover:text-gray-800 cursor-pointer"
    >Enter Class →</a>
  </div>
</div>
